.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  border-radius: 50%
}

.bening{
  font-size: 18px;
  margin-top: -6px;
}

.social-logo{
  height:40px;
  display: inline-block;
  margin: 10px 20px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  font-family: 'Courier New', Courier, monospace
}


.image {
  width: 300px;
  height: 300px;
  margin: 15px;
  margin-bottom: 0;
  border: white 5px solid;
}

.harga {
  margin: 0;
  margin-bottom: 100px;
}
